<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Graph-powered blog{% endblock %}</title>

    <link href='//fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>

    <!-- Bootstrap CSS -->
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <h1>Blog <small>This is my blog. It's awesome.</small></h1>
                <hr/>
            </div>
        </div>


        <div class="row">

            <div class="col-md-offset-2 col-md-6" role="content">
                {% block content %}{% endblock content %}
            </div>


            <aside class="col-md-3">
                <h5>Categories</h5>
                <ul class="side-nav">
                    <li><a href="#">News</a></li>
                    <li><a href="#">Code</a></li>
                    <li><a href="#">Design</a></li>
                    <li><a href="#">Fun</a></li>
                    <li><a href="#">Weasels</a></li>
                </ul>
            </aside>

        </div>


        <footer class="row">
            <div class="col-md-12">
                <hr/>
                <div class="row">
                    <div class="col-md-6">
                        <p>&copy; Copyright no one at all. Go to town.</p>
                    </div>
                    <div class="col-md-6">
                        <ul class="inline-list right">
                            <li><a href="#">Link 1</a></li>
                            <li><a href="#">Link 2</a></li>
                            <li><a href="#">Link 3</a></li>
                            <li><a href="#">Link 4</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>


    <!-- jQuery (required for Bootstrap JS) -->
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>